body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}